<main class="container">

  <section class="row">
    <div class="col-md-8 divListUser">
      <h3>Équipes</h3>
      <div class="scrollable">
        <ul class="list-group">
          <app-equipe
            *ngFor="let equipe of this.entreprise._tabEquipes"
            [equipe]="equipe">
          </app-equipe>
        </ul>
      </div>
    </div>

    <div class="col-md-4 divListUser border-left-white">
      <h3>Participants</h3>
      <div class="scrollable ">
        <ul class="list-group">
          <app-person
            *ngFor="let personne of this.entreprise._tabEmployes"
             [person]="personne">
            >
          </app-person>
        </ul>
      </div>
    </div>
  </section>

  <section class="row">
      <div class="col-md-4 divCrud">
        <div class="alert alert-danger" *ngIf="message === 'erreur_participant'">Renseignez un nom et un prénom</div>
        <div class="alert alert-success" *ngIf="message === 'succes_participant'">Participant ajouté</div>
        <h5>Ajouter un participant</h5>
        <hr>
        <form (ngSubmit)="onAjouter(f)" #f='ngForm'>
          <div class="form-group">
            <label for="nom">Nom :</label>
            <input type="text" id="input-nom" class="form-control" name="nom" ngModel placeholder="Nom participant" required>
          </div>
          <div class="form-group">
            <label for="prenom">Prénom :</label>
            <input type="text" id="input-prenom" class="form-control" name="prenom" ngModel placeholder="Prénom participant" required>
          </div>
          <div class="form-group">
            <label for="equipe">Équipe :</label>
            <select id="select-equipe" name="equipe" ngModel class="form-control">
              <option value="">Pas d'équipe</option>
              <option
                *ngFor="let equipe of entreprise._tabEquipes"
                value="{{equipe._nom}}"
              >
                {{equipe._nom}}</option>
            </select>
          </div>
          <button type="submit"
                  title="Ajouter"
                  class="btn btn-success">Ajouter
          </button>
        </form>
      </div>

      <div class="col-md-4 divCrud">
        <div class="alert alert-danger" *ngIf="message === 'erreur_equipe'">Renseignez une équipe</div>
        <div class="alert alert-danger" *ngIf="message === 'erreur_equipe_alreadey_exist'">Équipe existante, modifiez votre demande</div>
        <div class="alert alert-success" *ngIf="message === 'succes_equipe'">Equipe ajoutée</div>
        <h5>Ajouter une équipe</h5>
        <hr>
        <form class="form-group" >
          <div class="form-group">
            <label for="team">Nom :</label>
            <input type="text" id="team" name="equipeName" class="form-control" placeholder="Équipe" [(ngModel)]="equipeName" required>
          </div>
          <button class="btn btn-success"
                  title="Ajouter"
                  (click)="onAjouterEquipe()">
            Ajouter
          </button>
        </form>
      </div>

      <div class="col-md-4 divCrud">
        <div class="alert alert-success" *ngIf="message === 'succes_equipe_participant'">Participant ajouté à l'équipe</div>
        <div class="alert alert-danger" *ngIf="message === 'erreur_equipe_participant'">Participant déjà intégré à l'équipe</div>
        <h5>Assigner un participant à une équipe</h5>
        <hr>
        <form class="form-group" (ngSubmit)="onAjouterPersonneEquipe(g)" #g='ngForm'>
          <div class="form-group">
            <label for="employe">Participant :</label>
            <select name="employe" class="form-control" ngModel >
              <option
                *ngFor="let personne of entreprise._tabEmployes"
                value="{{personne._id}}"
              >{{personne._nom}} {{personne._prenom}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="equipe">Équipe :</label>
            <select  name="equipe" class="form-control" ngModel >
              <option
                *ngFor="let equipe of entreprise._tabEquipes"
                value="{{equipe._nom}}"
              >{{equipe._nom}}</option>
            </select>
          </div>
          <button type="submit"
                  title="Ajouter"
                  class="btn btn-success">
            Ajouter
          </button>
        </form>
      </div>
  </section>

  <footer>
    <hr>
    <small>2018 frederic.bourelle[at]gmail.com</small>
  </footer>

</main>
