i {
  float: right;
}

a {
  color: white;
}

a:hover {
  color: #ff3d00;
}

li, h5 {
  font-family: 'Muli', sans-serif;;
}

li:hover {
  font-family: 'Muli', sans-serif;
  background-color: #0095a8;
  color: white;
}
